@CHARSET "UTF-8";

/** body */
#main {
	padding: 20px 30px;
}

#main_body {
	background: #fff;
	height: 100%;
}

#part10 {
	height: 100%;
}

#part11_picture {
	width: 100%;
	height: 100%;
}

.ms-picture img {
	width: 100%;
	margin-top: 0px;
}

/**/
.part20_context {
	font-size: 20px;
	line-height: 150%;
}