@CHARSET "UTF-8";

/** 内容部分*/
#main {
	/**padding: 20px 30px;**/
}

#speheight{
	height: 40px;
}

#main_body {
	position: relative;
	height: 360px;
}

#btnregedit {
	width: 600px;
	margin: 0 auto 0 auto;
	height: 100%;
	background: powderblue;
}


#haomaTitle {
	height: 60px;
	
}
#haoma-inner {
	font-size: 26px;
	text-align: center;
	line-height: 60px;
}

#info_div {
	width: 600px;
	height: 300px;
}

#forgetpwd_div{
  margin-top: 20px;
}

.infolable {
	float: left;
	width: 20%;
	height: 100%;
	font-size: 20px;
	text-align: right;
	line-height: 50px;
	overflow: hidden;
}

#descript_div{
	height: 50px;
  	text-align: center;
  	line-height: 50px;
  	font-size: 13px;
}

#email_div{
	  height: 50px;
}

#code_div{
	 height: 50px;
}

#ipt_email {
	width: 50%;
	height: 25px;
	/** overflow: hidden;**/
}
#ipt_code {
	width: 30%;
	height: 25px;

}

#sendcode_btn{
	height: 30px;
}

.new_info {
	height: 25px;
	margin: 10px 20px;
	width: 80%;
}


.submit_btn {
	background: #69b946;
	display: inline-block;
	height: 52px;
	width: 100%;
	text-align: center;
	cursor: pointer;
	font: 22px/52px "微软雅黑";
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
}

.submit_box {
	margin: 45px auto;
	width :260px;
}

/** 尾部分 **/
 #main_foot{
  	position: relative;
  	height:50px;
  	margin:20px auto;
  	bottom: 0px;
  	width: 964px;
 }