@CHARSET "UTF-8";

body{
	margin-top: 0px;
}


#main {
	width: 1024px;
	background: white;
}

#main_head {
	height: 65px;
	width: 100%;
	position: relative;
	clear: both;
	border-bottom: 1px solid #258ecd;
}

#main_logo {
	width: 20%;
	height: 100%;
	float: left;
	background: dodgerblue;
}

#username_div {
	width: 150px;
	float: right;
	height: 100%;
	line-height: 65px;
}

#userlogout_btn{
	color: blue;
}

#userlogout_div {
	width: 100px;
	float: right;
	height: 100%;
	line-height: 65px;
}

/** 第一部分*/

#main_body{
	height: 100%;
	width:100%;
	clear: both;
}

#part1{
	height:100%;
	width:20%;
	float:left;
	background: rgb(78, 204, 219);
}

.meettype{
	height: 100%px;
	line-height: 60px;
	/** margin-left: -40px; **/
	margin-top: 0px;
}

#part2{
	height:100%;
	width:80%;
	float:right;
	background: powderblue;
}
		



/** 第二部分*/

	/** 菜单部分 **/
	.part_type{
		border-bottom: 1px solid #258ecd;
	}

	/** 菜单部分**/
	
#part21 {
	height: 100%;
	padding: 16px 10px;
	box-sizing: border-box;
}

#part211_head_div {
	height: 40px;
	line-height: 40px;
}

#refreshmeet_div {
	width: 100px;
	float: right;
}

#createmeet_div {
	width: 100px;
	float: right;
}

#part212 {
	background: rgb(214, 214, 245);
	height: 40px;
	line-height: 40px;
	font-size: 12px;
}

.meetlist {
	height: 40px;
	line-height: 40px;
	background: white;
	font-size: 14px;
}

/**第三部分 **/

#part22{
	height: 100%;
	padding: 16px 10px;
	box-sizing: border-box;
}

.col {
	height: 40px;
	float: left;
}

/** 每列宽度 **/
.col1{
	text-align: center;
	width: 20%;
}
.col2{
	width: 20%;
}
.col3{
	width: 20%;
}
.col4{
	width: 16%;
}
.col5{
	width: 16%;
}
.col6{
	width: 8%;
}


/**继承 **/
	.padleft20{
		padding-left: 20px;
	}
	
	.hover_active{
		 background:#D6DFE0;
	}
	.CR_DBCC4E{
		background:#B0E2E6;
	}
	.part_hide{
		display: none;
	}
	.part_show{
		display: block;
	}

/**/



/** 尾部分 **/
 #main_foot{
  	position: absolute;
  	height:50px;
  	margin:20px auto;
  	bottom: 0px;
  	width: 964px;
 }