@CHARSET "UTF-8";

/** 内容部分*/

#main {
	padding: 20px 30px;
}
#main_body {
	position: relative;
	height: 400px;
}

#btnregedit {
	width: 600px;
	margin: 0 auto 0 auto;
	padding-top: 20px;
	height: 100%;
}

#haoma-inner {
	font-size: 20px;
	text-align: center;
}

#haomaTitle {
	height: 50px;
}

#info_form {
	width: 600px;
	height: 300px;
}

.info_div {
	width: 600px;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
}

.updatepwd {
	height: 50px;
}

.infolable {
	float: left;
	width: 20%;
	height: 100%;
	font-size: 20px;
	text-align: right;
	line-height: 50px;
	overflow: hidden;
}


#password_again_lable{
	width: 80%;
}

.ipt_box {
	float: left;
	width: 50%;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
}

.new_info {
	height: 25px;
	margin: 10px 20px;
	width: 80%;
}

.errinfo {
	float: left;
	width: 30%;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
}

.submit_btn {
	background: #69b946;
	display: inline-block;
	height: 52px;
	width: 260px;
	text-align: center;
	cursor: pointer;
	font: 22px/52px "微软雅黑";
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
}

.submit_box {
	margin-left: 130px;
	margin-top: 25px;
}