@CHARSET "UTF-8";

#main {
	width: 1024px;
	background: white;
}

#main_head {
	height: 65px;
	width: 100%;
	position: relative;
	clear: both;
	border-bottom: 1px solid #258ecd;
}

#main_logo {
	width: 20%;
	height: 100%;
	float: left;
	background: dodgerblue;
}

#username_div {
	width: 150px;
	float: right;
	height: 100%;
	line-height: 65px;
}

#userlogout_btn{
	color: blue;
}

#userlogout_div {
	width: 100px;
	float: right;
	height: 100%;
	line-height: 65px;
}

/** 第一部分*/

#main_body{
	height: 600px;
	width:100%;
	clear: both;
}

#part1{
	height:100%;
	width:20%;
	float:left;
	background: rgb(78, 204, 219);
}

#part11{
	height: 60px;
	line-height: 60px;
	padding-left: 40px;
}

#part2{
	height:600px;
	width:80%;
	float:right;
	height: 600px;
	background: powderblue;
}
		



/** 第二部分*/

	/** 菜单部分 **/
	.part_type{
		border-bottom: 1px solid #258ecd;
	}

	/** 菜单部分**/
	
#part21 {
	height: 600px;
	margin: 5px 10px;
	padding: 1px 10px
}

#part21_head_div {
	height: 40px;
	line-height: 40px;
}

#refreshmeet_div {
	width: 100px;
	float: right;
}

#createmeet_div {
	width: 100px;
	float: right;
}

#part22 {
	background: rgb(214, 214, 245);
	height: 40px;
	line-height: 40px;
	font-size: 12px;
}



/**第三部分 **/
#part23 {
	height: 40px;
	line-height: 40px;
	background: white;
	font-size: 14px;
}

.col {
	height: 40px;
	width: 16%;
	float: left;
}

.col1{
	text-align: center;
}
