@CHARSET "UTF-8";

/** body */
#main {
	/** padding: 20px 30px; **/
}

#main_body {
	background: #fff;
	height: 100%;
}

#part10 {
	height: 100%;
}

#part11_picture {
	width: 100%;
	height: 340px;
}

#ms-context {
	height: 80px;
	margin-top: -300px
}

.ms-picture img {
	width: 100%;
	margin-top: 0px;
	height: 100%;
}

#ms-context p{
	text-align: center;
}

/** part1 **/
#part121 {
	height: 250px;
}

.part121-col-3 {
	width: 33.33333333%;
	height: 250px;
	float: left;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.part12-col-detail {
	text-align: center;
	width: 100%;
	padding: 30px 1%;
}

/** part20 */
.part2_main_public {
	height: 380px;
	width: 1020px;
  	margin: 0 auto;
}

.part2_all_public {
	height: 100%;
	margin: 0px 20px;
}

.part2_img_public {
	float: right;
	width: 55%;
	overflow: hidden;
	height: 100%;
}

.part2_context_public {
	float: left;
	width: 35%;
	height: 100%;
}

.font_size_1 {
	font-size: 32px;
}

.part2_context_1_public {
	font-weight: normal;
	line-height: 30px;
	height: 35%;
}

.part2_context_2_public {
	height: 50%;
	color: rgb(42, 42, 42);
	line-height: 24px;
	font-size: 14px;
}

.part2_context_3_public {
	height: 15%;
	font-size: 18px;
	color: #15a5f5 !important;
	display: inline-block;
	line-height: 20px;
	margin-left: 200px;
}

/** 尾部分 **/
 #main_foot{
  	position: relative;
  	height:50px;
  	margin:20px auto;
  	bottom: 0px;
  	width: 964px;
 }